.float-menu {
  position: absolute;
  background-color: #084154;
  text-align: left;
  color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 9px 9px 0px -1px #3ec6e0;
  border: 2px solid #3ec6e0;
  left: 15%;
  top: 100%;
}

.float-menu td,
.float-menu th {
  padding: 10px;
  border-radius: 10px;
}
.float-menu td {
  transition: all 0.5s;
  cursor: pointer;
}
.float-menu td:hover {
  background-color: #3ec6e0;
}
.float-menu:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -2%;
  width: 0;
  height: 0;
  border-bottom: 12px solid #3ec6e0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

@media screen and (max-width: 600px) {
  .float-menu {
    position: absolute;
    background-color: #084154;
    text-align: left;
    color: #ffffff;
    padding: 30px;
    border-radius: 0;
    box-shadow: 0;
    border: 0;
    left: 0;
    top: 10;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
  }
  .float-menu:after {
    display: none;
  }
}
