.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
  /* padding: 10px; */
  max-width: 600px;
  min-width: 360px;
  max-height: 85%;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.modal-content p {
  padding-top: 10px;
  text-align: justify;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.modal.visible .modal-content {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-delay: 0.5s;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-button {
  width: 40px; 
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
