.container-nav {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s;
  z-index: 99;
  background-color: rgba(235, 235, 235, 0.1);
}
.container-nav.active-scroll {
  background-color: rgba(235, 235, 235, 1);
}
.container-nav li {
  list-style-type: none;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
}
.container-nav li .menu {
  width: 20px;
  margin-right: 30px;
  cursor: pointer;
}
.container-nav li .logo {
  width: 100px;
}
.container-nav li .paperPlane {
  width: 30px;
}
.container-nav li .search {
  width: 23px;
}
.container-nav li .shoppingBag {
  width: 20px;
}

.container-nav li > span {
  vertical-align: super;
  padding-left: 10px;
  font-size: 14px;
}
.container-nav li .bagde {
  background-color: #3ec6e0;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.divider {
  border: 1px solid #ffffff;
  height: 20px;
  margin: 0px 20px 0px 20px;
  display: initial;
}

.search-container {
  display: none;
  position: absolute;
  padding: 20px;
  /* width: 200px; */
  background-color: #084154;
  border-radius: 10px;
}
.search-container.visible {
  display: block;
}

.search-container input {
  border-radius: 5px;
  padding: 6px;
  border: 1px solid #3ec6e0;
  /* width: 100%; */
}

.search-container:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -2%;
  width: 0;
  height: 0;
  border-bottom: 8px solid #084154;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

@media screen and (max-width: 600px) {
  .container-nav {
    display: flex;
    justify-content: unset;
    align-items: center;
    padding: 10px;
    background-color: #084154 !important;
  }
  .container-nav ul {
    padding: 0;
    margin: 0;
  }
  .nav-item-label {
    display: none;
  }
  .container-nav li {
    margin-right: 15px;
  }
  .divider {
    display: none;
  }
  .container-nav li .menu {
    width: 30px;
    margin-right: 0px;
  }
  .container-nav li .logo {
    width: 120px;
  }
  .container-nav li .paperPlane {
    width: 40px;
  }
  .container-nav li .search {
    width: 30px;
  }
  .container-nav li .shoppingBag {
    width: 30px;
  }

  .search-container {
    left: 20%;
    z-index: 1001;
  }
}
@media screen and (max-width: 370px) {
  .container-nav li .menu {
    width: 20px;
    margin-right: 0px;
  }
  .container-nav li .logo {
    width: 100px;
  }
  .container-nav li .paperPlane {
    width: 30px;
  }
  .container-nav li .search {
    width: 20px;
  }
  .container-nav li .shoppingBag {
    width: 20px;
  }
}
